<div class="main-footer main-footer--white">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 menu">
                <a href="/services">Services</a>
            </div>
            <div class="col-sm-3 menu">
                <a href="/about">About us</a>
            </div>
            <div class="col-sm-2 menu">
                <a href="/contactus">Contact us</a>
            </div>
            <div class="col-sm-4 newsletter">
                <a href="#">
                    <img src="images/social/twitter.png" alt="twitter" />
                </a>
                <a href="#">
                    <img src="images/social/linkedin.png" alt="dribbble" />
                </a>
            </div>
        </div>
        <div class="row credits">
            <div class="col-md-12">
                © 2017 All rights reserved. Inno Ltd.
            </div>
        </div>
    </div>
</div>