<div class="services-tabs">
    <div class="container">
        <div class="row">
            <div class="col-md-6 hexagons">
                <div class="hexagon active">
                    <span class="icon brankic-lamp3"></span>
                </div>
                <div class="hexagon">
                    <span class="icon brankic-tools"></span>
                </div>
                <div class="hexagon">
                    <span class="icon brankic-monitor"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="sections">
                    <div class="section active">
                        <h4>Startups</h4>
                        <p>
                            We can help you with your startup idea, leveraging our expertise and our network, with:
                        </p>
                        <ul>
                            <li>Business strategy</li>
                            <li>Business model validation</li>
                            <li>IT strategy</li>
                            <li>Managing innovation and product development</li>
                            <li>Rapid prototyping</li>
                        </ul>
                    </div>
                    <div class="section">
                        <h4>IT Consulting</h4>
                        <ul>
                            <li>Agile transformation</li>
                            <li>Agile and Lean processes and continous improvement</li>
                            <li>Agile implementation</li>
                            <li>Continuous Delivery and DevOps</li>
                            <li>Architecture audits</li>
                        </ul>
                    </div>
                    <div class="section">
                        <h4>Software Delivery</h4>
                        <p>
                            We can contribute towards yourt technical implementation of software project. Key expertise
                            in:
                        </p>
                        <ul>
                            <li>Java and Enterpise Java</li>
                            <li>CI, CD, DevOps</li>
                            <li>Rapid development of web services with Node.js</li>
                            <li>Maintenance of Legacy Systems</li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>